<mat-dialog-content>
  <mat-form-field style="width: 100%;">
    <mat-label>Email </mat-label>
    <input matInput [(ngModel)]="data.toEmail">
  </mat-form-field>
  <mat-form-field style="width: 100%;">
    <mat-label>Subject </mat-label>
    <input matInput [(ngModel)]="data.subject">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: space-between;">
  <button mat-flat-button color="warn" style="width: 150px;" (click)="onNoClick()">Cancel</button>
  <button mat-flat-button color="primary" style="width: 150px;" [mat-dialog-close]="data" cdkFocusInitial>Send</button>
</mat-dialog-actions>