<mat-drawer-container class="container">
  <mat-drawer mode="side" opened>
    <mat-toolbar color="primary">
      <span>Template</span>
    </mat-toolbar>
    <mat-list>
      @for (template of templates; track template) {
      <mat-list-item [ngClass]="{ 'active-template': activeTemplate === template.templateName }"
        (click)="selectTemplate(template)">{{template.templateName}}</mat-list-item>
      <mat-divider></mat-divider>
      }
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <main>
      <mat-toolbar color="primary">
        <button (click)="openDialog()" mat-raised-button color="primary" style="width: 150px; ">New </button>
        <button (click)="saveTemplate()" mat-raised-button color="primary" style="width: 150px; margin-left: 20px;">Save
        </button>
        <span class="example-spacer"></span>
        <span>{{selectedTemplate.templateName}}</span>
        <span class="example-spacer"></span>
        <button (click)="reviewTemplate()" mat-raised-button color="primary"
          style="width: 150px; margin-right: 20px;">Review</button>
        <button (click)="openDialogSendmail()" mat-raised-button color="primary" style="width: 150px;">Send Mail
        </button>
        <button (click)="exportPdf()" mat-raised-button color="primary" style="width: 150px;">Export PDF
        </button>
      </mat-toolbar>
      <div style="width: 100%; height:calc(100vh - 64px);">
        <as-split direction="horizontal">
          <as-split-area [size]="40">
            <as-split direction="vertical">
              <as-split-area [size]="25">
                <ngx-monaco-editor [options]="JsonOptions" [(ngModel)]="selectedTemplate.jsonModel"></ngx-monaco-editor>
              </as-split-area>
              <as-split-area [size]="75">
                <ngx-monaco-editor (ngModelChange)="onContentChange($event)" [options]="HtmlOptions"
                  [(ngModel)]="selectedTemplate.content"></ngx-monaco-editor>
              </as-split-area>
            </as-split>
          </as-split-area>
          <as-split-area [size]="60">
            <iframe style="height:calc(100% - 10px); width: 100%; overflow: auto;"
              [attr.srcdoc]="safeHtmlContent"></iframe>
          </as-split-area>
        </as-split>
      </div>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
<router-outlet />